# Logs
logs
*.log
npm-debug.log*

node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

extension-private-key.pem
chrome-web-store/*.zip
chrome-web-store/*.crx
